.idea/vcs.xml
.idea/workspace.xml
__pycache__/Commands.cpython-35.pyc
__pycache__/DBInterface.cpython-35.pyc
__pycache__/Emotes.cpython-35.pyc
__pycache__/cfg.cpython-35.pyc
*.pyc
dist/
build/
ThunBot.spec
ThunBot - Shortcut.lnk
.idea/dictionaries/Jordan.xml
